@import "assets/styles/variables";
body {
  background: $grey;
}

.App__body {
  background: $white;
  padding: 20px 15px 10px 15px;
  box-sizing: border-box;
  margin: 20px 0.9375rem;
}

.SearchComponent {
  .SearchComponent__input {
    width: 100%;
  }

  .SearchComponent__button {
    transition: all 500ms ease-in-out;
    box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0);
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    &:hover {
      background: $blue;
      box-shadow: 0 12px 32px 0 rgba(0, 0, 0, 0.25);
    }
  }
}
